body {
    background-color: rgb(53, 50, 50);
    color: white;
    font-weight: 900;
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

section {
    border: solid white 1px;
    padding: 3rem;
    text-align: center;
    margin: 2rem;
}